
		<!-- Loader -->
		<div id="global-loader">
			<img src="assets/new-design/img/loader.svg" class="loader-img" alt="Loader">
		</div>
		<!-- End Loader -->

		<!-- Page -->
		<div class="main-signin-wrapper loginpage">

			<!-- Row -->
			<div class="row text-center pl-0 pr-0 ml-0 mr-0 maincontainwidth">
				<div class="col-lg-6">
				<div class="topsignup text-right">
				  <p class="mb-0">Don't have an account? <a href="signup.html">Sign Up</a></p>
				</div>
				<div class="col-lg-9 page mx-auto innerlogsec">
					<div class="text-center mb-4">
						<img src="assets/new-design/img/newimages/logo.png" class="header-brand-img" alt="logo">
						<img src="assets/new-design/img/newimages/logo.png" class="header-brand-img theme-logos" alt="logo">
					</div>
					<div class="card custom-card">
						<div class="card-body">
							<h4 class="text-center fontweightbold">Reset your Password</h4>
							<p class="afterlogintext">Please create a new password In the form fields below.</p>
							<form>
								<div class="form-group text-left customeffect">
									<input class="form-control effect-1" placeholder="New Password" type="password">
									<span class="focus-border"></span>
								</div>
								<div class="form-group text-left customeffect">
									<input class="form-control effect-1" placeholder="Confirm Password" type="password">
									<span class="focus-border"></span>
								</div>
								
								<button class="btn ripple btn-main-primary buttoncolor">Confirm</button>
							</form>
							
						</div>
					</div>
					</div>
					<div class="bottomsignup text-center">
				  <p class="mb-0">Term of use. Privacy policy | Powered by Nuflorist</p>
				</div>
				</div>
				<div class="col-lg-6 col-md-6 rightloginslider" style="background:url('assets/img/newimages/bg.png');background-size:100% 100%;">
							<div class="card custom-card">
								<div class="card-body h-100">
									<!---carousel-fade---->
									<div>
										<div class="carousel slide carousel-fade" data-ride="carousel" id="carouselExample5">
											<ol class="carousel-indicators">
												<li class="active" data-slide-to="0" data-target="#carouselExample5"></li>
												<li data-slide-to="1" data-target="#carouselExample5"></li>
											</ol>
											<div class="carousel-inner">
												<div class="carousel-item active">
												<div class="imagediv">
													<img alt="img" class="d-block" src="assets/new-design/img/newimages/graphic01.png">
													</div>
													<div class="carousel-caption d-none d-md-block">
														<h5>Take your Floral Business to<br/> New Heights</h5>
														<p class="tx-14">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
													</div>
												</div>
												<div class="carousel-item">
												<div class="imagediv">
													<img alt="img" class="d-block" src="assets/new-design/img/newimages/graphic02.png">
													</div>
													<div class="carousel-caption d-none d-md-block">
														<h5>Intutive Planning Solution <br/>To help you save and grow</h5>
														<p class="tx-14">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
													</div>
												</div>
												
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
			</div>
			<!-- End Row -->

		</div>
		<!-- End Page -->

	