<div class="btn btn-list customsselect add-width">

    <select class="form-control select select2" id="select-year" [(ngModel)]="yearSelected" (change)="onYearOrQuarterChange()">
      <option value="">Year</option>
      <option *ngFor="let year of years" value="{{year}}">
          {{year}}
      </option>     
    </select>
    <div class="select_arrow"></div>

    <select class="form-control select select2" id="select-quarter" [(ngModel)]="quarterSelected" (change)="onYearOrQuarterChange()"> 
      <option value="">Quarter</option>
      <option *ngFor="let quarter of quarters" value="{{quarter}}">
            {{quarter}}
      </option>          
    </select>
    <div class="select_arrow"></div>
    <app-stores-combo></app-stores-combo>
</div> 

