<!-- Page Header -->
<div class="page-header">
  <div>
    <h2 class="main-content-title tx-24 mg-b-5"><a href="#">Projections</a></h2>
  </div>
  <div class="btn btn-list customsselect">
  
    <select class="form-control select select2">
      <option value="">Driftwood</option>
      <option value="Driftwood 1">Driftwood 1</option>
      <option value="Driftwood 2">Driftwood 2</option>
      
    </select>
    
  </div>
  
</div>
<!-- End Page Header -->



<!-- Row -->
<div class="row">
<div class="col-lg-9">
  <div class="card custom-card">
  <div class="card-body p-0">
      <div class="sumsec sumsecnew">
      <h6 class="card-title mb-0">Driftwood</h6>
    </div>
    <div class="bg-light">
    <nav class="nav nav-tabs main-nav-line main-nav-line-chat card-body navneww">
      <a class="nav-link active" data-toggle="tab" href="#quarterly">Quarterly</a>
      <a class="nav-link" data-toggle="tab" href="#yearly">Yearly</a>
      
    </nav>
    </div>
  <div class="card-body tab-content projctestabletabs">
    <div class="tab-pane active show" id="quarterly">
          <div class="table-responsive invedetailtable">
          <table class="table mg-b-0">
            <thead>
              <tr>
                <th>WEEK</th>
                <th>2019 TOTAL SALES</th>
                <th>ADJUST</th>
                <th>ADJUST SALES 2020</th>
                <th>EVENT OVERRIDE</th>
                <th>NOTE</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><span class="monthicon">J</span>Jan 01 -Jan 08</td>
                <td>$12,968</td>
                <td>
                  <select class="form-control borrad">
                   <option value="+5%">+5%</option>
                   <option value="+15%">+15%</option>
                   <option value="+0%">+0%</option>
                  </select>
                </td>
                <td>$12,968</td>
                <td><label class="ckbox"><input type="checkbox"><span></span></label></td>
                <td>Yes</td>
              </tr>
              <tr>
                <td><span class="monthicon">J</span>Jan 01 -Jan 08</td>
                <td>$12,968</td>
                <td>
                  <select class="form-control borrad">
                   <option value="+5%">+5%</option>
                   <option value="+15%">+15%</option>
                   <option value="+0%">+0%</option>
                  </select>
                </td>
                <td>$12,968</td>
                <td><label class="ckbox"><input type="checkbox" checked><span></span></label></td>
                <td>Yes</td>
              </tr>
              <tr>
                <td><span class="monthicon">J</span>Jan 01 -Jan 08</td>
                <td>$12,968</td>
                <td>
                  <select class="form-control borrad">
                   <option value="+5%">+5%</option>
                   <option value="+15%">+15%</option>
                   <option value="+0%">+0%</option>
                  </select>
                </td>
                <td>$12,968</td>
                <td><label class="ckbox"><input type="checkbox"><span></span></label></td>
                <td>Yes</td>
              </tr>
              <tr>
                <td><span class="monthicon">J</span>Jan 01 -Jan 08</td>
                <td>$12,968</td>
                <td>
                  <select class="form-control borrad">
                   <option value="+5%">+5%</option>
                   <option value="+15%">+15%</option>
                   <option value="+0%">+0%</option>
                  </select>
                </td>
                <td>$12,968</td>
                <td><label class="ckbox"><input type="checkbox" checked><span></span></label></td>
                <td>Yes</td>
              </tr>
              <tr>
                <td><span class="monthicon">J</span>Jan 01 -Jan 08</td>
                <td>$12,968</td>
                <td>
                  <select class="form-control borrad">
                   <option value="+5%">+5%</option>
                   <option value="+15%">+15%</option>
                   <option value="+0%">+0%</option>
                  </select>
                </td>
                <td>$12,968</td>
                <td><label class="ckbox"><input type="checkbox"><span></span></label></td>
                <td>Yes</td>
              </tr>
              <tr>
                <td><span class="monthicon">J</span>Jan 01 -Jan 08</td>
                <td>$12,968</td>
                <td>
                  <select class="form-control borrad">
                   <option value="+5%">+5%</option>
                   <option value="+15%">+15%</option>
                   <option value="+0%">+0%</option>
                  </select>
                </td>
                <td>$12,968</td>
                <td><label class="ckbox"><input type="checkbox" checked><span></span></label></td>
                <td>Yes</td>
              </tr>
              <tr>
                <td><span class="monthicon">J</span>Jan 01 -Jan 08</td>
                <td>$12,968</td>
                <td>
                  <select class="form-control borrad">
                   <option value="+5%">+5%</option>
                   <option value="+15%">+15%</option>
                   <option value="+0%">+0%</option>
                  </select>
                </td>
                <td>$12,968</td>
                <td><label class="ckbox"><input type="checkbox"><span></span></label></td>
                <td>Yes</td>
              </tr>
              <tr>
                <td><span class="monthicon">J</span>Jan 01 -Jan 08</td>
                <td>$12,968</td>
                <td>
                  <select class="form-control borrad">
                   <option value="+5%">+5%</option>
                   <option value="+15%">+15%</option>
                   <option value="+0%">+0%</option>
                  </select>
                </td>
                <td>$12,968</td>
                <td><label class="ckbox"><input type="checkbox" checked><span></span></label></td>
                <td>Yes</td>
              </tr>
              <tr>
                <td><span class="monthicon">J</span>Jan 01 -Jan 08</td>
                <td>$12,968</td>
                <td>
                  <select class="form-control borrad">
                   <option value="+5%">+5%</option>
                   <option value="+15%">+15%</option>
                   <option value="+0%">+0%</option>
                  </select>
                </td>
                <td>$12,968</td>
                <td><label class="ckbox"><input type="checkbox"><span></span></label></td>
                <td>Yes</td>
              </tr>
              <tr>
                <td><span class="monthicon">J</span>Jan 01 -Jan 08</td>
                <td>$12,968</td>
                <td>
                  <select class="form-control borrad">
                   <option value="+5%">+5%</option>
                   <option value="+15%">+15%</option>
                   <option value="+0%">+0%</option>
                  </select>
                </td>
                <td>$12,968</td>
                <td><label class="ckbox"><input type="checkbox" checked><span></span></label></td>
                <td>Yes</td>
              </tr>
              
              
            </tbody>
          </table>
        </div>            
    </div>
    <div class="tab-pane" id="yearly">
      <div class="table-responsive invedetailtable">
          <table class="table mg-b-0">
            <thead>
              <tr>
                <th>WEEK</th>
                <th>2019 TOTAL SALES</th>
                <th>ADJUST</th>
                <th>ADJUST SALES 2020</th>
                <th>EVENT OVERRIDE</th>
                <th>NOTE</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><span class="monthicon">J</span>Feb 01 -Feb 08</td>
                <td>$12,968</td>
                <td>
                  <select class="form-control borrad">
                   <option value="+5%">+5%</option>
                   <option value="+15%">+15%</option>
                   <option value="+0%">+0%</option>
                  </select>
                </td>
                <td>$12,968</td>
                <td><label class="ckbox"><input type="checkbox"><span></span></label></td>
                <td>Yes</td>
              </tr>
              <tr>
                <td><span class="monthicon">J</span>Feb 01 -Feb 08</td>
                <td>$12,968</td>
                <td>
                  <select class="form-control borrad">
                   <option value="+5%">+5%</option>
                   <option value="+15%">+15%</option>
                   <option value="+0%">+0%</option>
                  </select>
                </td>
                <td>$12,968</td>
                <td><label class="ckbox"><input type="checkbox" checked><span></span></label></td>
                <td>Yes</td>
              </tr>
              <tr>
                <td><span class="monthicon">J</span>Feb 01 -Feb 08</td>
                <td>$12,968</td>
                <td>
                  <select class="form-control borrad">
                   <option value="+5%">+5%</option>
                   <option value="+15%">+15%</option>
                   <option value="+0%">+0%</option>
                  </select>
                </td>
                <td>$12,968</td>
                <td><label class="ckbox"><input type="checkbox"><span></span></label></td>
                <td>Yes</td>
              </tr>
              <tr>
                <td><span class="monthicon">J</span>Feb 01 -Feb 08</td>
                <td>$12,968</td>
                <td>
                  <select class="form-control borrad">
                   <option value="+5%">+5%</option>
                   <option value="+15%">+15%</option>
                   <option value="+0%">+0%</option>
                  </select>
                </td>
                <td>$12,968</td>
                <td><label class="ckbox"><input type="checkbox" checked><span></span></label></td>
                <td>Yes</td>
              </tr>
              <tr>
                <td><span class="monthicon">J</span>Feb 01 -Feb 08</td>
                <td>$12,968</td>
                <td>
                  <select class="form-control borrad">
                   <option value="+5%">+5%</option>
                   <option value="+15%">+15%</option>
                   <option value="+0%">+0%</option>
                  </select>
                </td>
                <td>$12,968</td>
                <td><label class="ckbox"><input type="checkbox"><span></span></label></td>
                <td>Yes</td>
              </tr>
              <tr>
                <td><span class="monthicon">J</span>Feb 01 -Feb 08</td>
                <td>$12,968</td>
                <td>
                  <select class="form-control borrad">
                   <option value="+5%">+5%</option>
                   <option value="+15%">+15%</option>
                   <option value="+0%">+0%</option>
                  </select>
                </td>
                <td>$12,968</td>
                <td><label class="ckbox"><input type="checkbox" checked><span></span></label></td>
                <td>Yes</td>
              </tr>
              <tr>
                <td><span class="monthicon">J</span>Feb 01 -Feb 08</td>
                <td>$12,968</td>
                <td>
                  <select class="form-control borrad">
                   <option value="+5%">+5%</option>
                   <option value="+15%">+15%</option>
                   <option value="+0%">+0%</option>
                  </select>
                </td>
                <td>$12,968</td>
                <td><label class="ckbox"><input type="checkbox"><span></span></label></td>
                <td>Yes</td>
              </tr>
              <tr>
                <td><span class="monthicon">J</span>Feb 01 -Feb 08</td>
                <td>$12,968</td>
                <td>
                  <select class="form-control borrad">
                   <option value="+5%">+5%</option>
                   <option value="+15%">+15%</option>
                   <option value="+0%">+0%</option>
                  </select>
                </td>
                <td>$12,968</td>
                <td><label class="ckbox"><input type="checkbox" checked><span></span></label></td>
                <td>Yes</td>
              </tr>
              <tr>
                <td><span class="monthicon">J</span>Feb 01 -Feb 08</td>
                <td>$12,968</td>
                <td>
                  <select class="form-control borrad">
                   <option value="+5%">+5%</option>
                   <option value="+15%">+15%</option>
                   <option value="+0%">+0%</option>
                  </select>
                </td>
                <td>$12,968</td>
                <td><label class="ckbox"><input type="checkbox"><span></span></label></td>
                <td>Yes</td>
              </tr>
              <tr>
                <td><span class="monthicon">J</span>Feb 01 -Feb 08</td>
                <td>$12,968</td>
                <td>
                  <select class="form-control borrad">
                   <option value="+5%">+5%</option>
                   <option value="+15%">+15%</option>
                   <option value="+0%">+0%</option>
                  </select>
                </td>
                <td>$12,968</td>
                <td><label class="ckbox"><input type="checkbox" checked><span></span></label></td>
                <td>Yes</td>
              </tr>
              
              
            </tbody>
          </table>
        </div>
    </div>
    
    
            
  </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 pl-0">
    <div class="card custom-card">
      <div class="card-body p-0">
         <div class="sumsec sumsecnew">
          <h6 class="card-title mb-0">Notes</h6>
         </div>
        <div class="bg-light">
        <nav class="nav nav-tabs main-nav-line main-nav-line-chat card-body navneww">
          <a class="nav-link active" data-toggle="tab" href="#quarterly1">2019</a>
          <a class="nav-link" data-toggle="tab" href="#yearly1">2020</a>
          
        </nav>
        </div>
  <div class="card-body tab-content">
    <div class="tab-pane active show" id="quarterly1">
          <div class="browser-stats">
            <div class="d-flex align-items-center border-bottom pb-3">
            <div class="d-flexnot">
              <p class="mb-0 leftftab leftftabsmallfontcolor">01/23/2019</p>
              <p class="mb-0 leftftab">Lorem ipsum dolor met</p>
            </div>
            <div class="ml-auto">
              <div class="d-flex">
                <span class="rightftab rightftabprojectyearly">Edit Store</span>
              </div>
            </div>
           </div>
            <div class="d-flex align-items-center border-bottom pb-3 pt-3">
            <div class="d-flexnot">
              <p class="mb-0 leftftab leftftabsmallfontcolor">01/23/2019</p>
              <p class="mb-0 leftftab">Lorem ipsum dolor met</p>
            </div>
            <div class="ml-auto">
              <div class="d-flex">
                <span class="rightftab rightftabprojectyearly">Edit Store</span>
              </div>
            </div>
           </div>
            <div class="d-flex align-items-center border-bottom pb-3 pt-3">
            <div class="d-flexnot">
              <p class="mb-0 leftftab leftftabsmallfontcolor">01/23/2019</p>
              <p class="mb-0 leftftab">Lorem ipsum dolor met</p>
            </div>
            <div class="ml-auto">
              <div class="d-flex">
                <span class="rightftab rightftabprojectyearly">Edit Store</span>
              </div>
            </div>
           </div>
            <div class="d-flex align-items-center border-bottom pb-3 pt-3">
            <div class="d-flexnot">
              <p class="mb-0 leftftab leftftabsmallfontcolor">01/23/2019</p>
              <p class="mb-0 leftftab">Lorem ipsum dolor met</p>
            </div>
            <div class="ml-auto">
              <div class="d-flex">
                <span class="rightftab rightftabprojectyearly">Edit Store</span>
              </div>
            </div>
           </div>
            <div class="d-flex align-items-center border-bottom pb-3 pt-3">
            <div class="d-flexnot">
              <p class="mb-0 leftftab leftftabsmallfontcolor">01/23/2019</p>
              <p class="mb-0 leftftab">Lorem ipsum dolor met</p>
            </div>
            <div class="ml-auto">
              <div class="d-flex">
                <span class="rightftab rightftabprojectyearly">Edit Store</span>
              </div>
            </div>
           </div>
            <div class="d-flex align-items-center border-bottom pb-3 pt-3">
            <div class="d-flexnot">
              <p class="mb-0 leftftab leftftabsmallfontcolor">01/23/2019</p>
              <p class="mb-0 leftftab">Lorem ipsum dolor met</p>
            </div>
            <div class="ml-auto">
              <div class="d-flex">
                <span class="rightftab rightftabprojectyearly">Edit Store</span>
              </div>
            </div>
           </div>
            <div class="d-flex align-items-center border-bottom pb-3 pt-3">
            <div class="d-flexnot">
              <p class="mb-0 leftftab leftftabsmallfontcolor">01/23/2019</p>
              <p class="mb-0 leftftab">Lorem ipsum dolor met</p>
            </div>
            <div class="ml-auto">
              <div class="d-flex">
                <span class="rightftab rightftabprojectyearly">Edit Store</span>
              </div>
            </div>
           </div>
           <div class="d-flex align-items-center border-bottom pb-3 pt-3">
            <div class="d-flexnot">
              <p class="mb-0 leftftab leftftabsmallfontcolor">01/23/2019</p>
              <p class="mb-0 leftftab">Lorem ipsum dolor met</p>
            </div>
            <div class="ml-auto">
              <div class="d-flex">
                <span class="rightftab rightftabprojectyearly">Edit Store</span>
              </div>
            </div>
           </div>
        </div>          
    </div>
    <div class="tab-pane" id="yearly1">
      <div class="browser-stats">
            <div class="d-flex align-items-center border-bottom pb-3">
            <div class="d-flexnot">
              <p class="mb-0 leftftab leftftabsmallfontcolor">01/23/2020</p>
              <p class="mb-0 leftftab">Lorem ipsum dolor met</p>
            </div>
            <div class="ml-auto">
              <div class="d-flex">
                <span class="rightftab rightftabprojectyearly">Edit Store</span>
              </div>
            </div>
           </div>
            <div class="d-flex align-items-center border-bottom pb-3 pt-3">
            <div class="d-flexnot">
              <p class="mb-0 leftftab leftftabsmallfontcolor">01/23/2020</p>
              <p class="mb-0 leftftab">Lorem ipsum dolor met</p>
            </div>
            <div class="ml-auto">
              <div class="d-flex">
                <span class="rightftab rightftabprojectyearly">Edit Store</span>
              </div>
            </div>
           </div>
            <div class="d-flex align-items-center border-bottom pb-3 pt-3">
            <div class="d-flexnot">
              <p class="mb-0 leftftab leftftabsmallfontcolor">01/23/2020</p>
              <p class="mb-0 leftftab">Lorem ipsum dolor met</p>
            </div>
            <div class="ml-auto">
              <div class="d-flex">
                <span class="rightftab rightftabprojectyearly">Edit Store</span>
              </div>
            </div>
           </div>
            <div class="d-flex align-items-center border-bottom pb-3 pt-3">
            <div class="d-flexnot">
              <p class="mb-0 leftftab leftftabsmallfontcolor">01/23/2020</p>
              <p class="mb-0 leftftab">Lorem ipsum dolor met</p>
            </div>
            <div class="ml-auto">
              <div class="d-flex">
                <span class="rightftab rightftabprojectyearly">Edit Store</span>
              </div>
            </div>
           </div>
            <div class="d-flex align-items-center border-bottom pb-3 pt-3">
            <div class="d-flexnot">
              <p class="mb-0 leftftab leftftabsmallfontcolor">01/23/2020</p>
              <p class="mb-0 leftftab">Lorem ipsum dolor met</p>
            </div>
            <div class="ml-auto">
              <div class="d-flex">
                <span class="rightftab rightftabprojectyearly">Edit Store</span>
              </div>
            </div>
           </div>
            <div class="d-flex align-items-center border-bottom pb-3 pt-3">
            <div class="d-flexnot">
              <p class="mb-0 leftftab leftftabsmallfontcolor">01/23/2020</p>
              <p class="mb-0 leftftab">Lorem ipsum dolor met</p>
            </div>
            <div class="ml-auto">
              <div class="d-flex">
                <span class="rightftab rightftabprojectyearly">Edit Store</span>
              </div>
            </div>
           </div>
            <div class="d-flex align-items-center border-bottom pb-3 pt-3">
            <div class="d-flexnot">
              <p class="mb-0 leftftab leftftabsmallfontcolor">01/23/2020</p>
              <p class="mb-0 leftftab">Lorem ipsum dolor met</p>
            </div>
            <div class="ml-auto">
              <div class="d-flex">
                <span class="rightftab rightftabprojectyearly">Edit Store</span>
              </div>
            </div>
           </div>
           <div class="d-flex align-items-center border-bottom pb-3 pt-3">
            <div class="d-flexnot">
              <p class="mb-0 leftftab leftftabsmallfontcolor">01/23/2020</p>
              <p class="mb-0 leftftab">Lorem ipsum dolor met</p>
            </div>
            <div class="ml-auto">
              <div class="d-flex">
                <span class="rightftab rightftabprojectyearly">Edit Store</span>
              </div>
            </div>
           </div>
        </div>
    </div>
    
    
            
  </div>
      </div>
      
    </div>
    
    
  </div>
  
  
  
  
</div>
  
<!-- End Row -->